<!DOCTYPE HTML>
<html>
<head>
	<title>alpine-rust repository</title>
	<style>
		* {
			box-sizing: border-box;
		}
		body {
			background-color: #222;
		}
		#container {
			background-color: #333;
			color: #ddd;
			
			width: 800px;
			margin: 20px auto;
			padding: 15px 20px;
			border: 1px solid #111;
			border-radius: 5px;
		}
		h1 {
			margin-top: 0;
		}
		p {
			text-align: justify;
		}
		.shell {
			font-family: Monospace;
			background-color: #111;
			margin: 10px 0;
			padding: 5px 10px;
		}
	</style>
</head>
<body>
<div id="container">
	
	<h1>alpine-rust repository</h1>
	
	<div>
		<a href="https://drone.msrd0.eu/msrd0/alpine-rust">
			<img alt="Build Status" src="https://drone.msrd0.eu/api/badges/msrd0/alpine-rust/status.svg"/>
		</a>
		<a href="https://github.com/msrd0/alpine-rust">
			<img alt="Code on GitHub" src="https://img.shields.io/badge/Code-on%20GitHub-blue?logo=github"/>
		</a>
	</div>
	
	<!-- TODO replace XX with actual number -->
	<p>
		This repository contains rust packages for the XX most recent rust versions to install on the
		latest stable alpine version. Also, pre-built docker images are made available that come with
		those packages pre-installed.
	</p>
	<p>
		Using these packages is far superior to using <code>rustup</code>, because it provides actual
		support for alpine linux, not just for a generic musl target. You can therefore make full
		usage of dynamic linking support, run proc-macro, link against <code>libssl.so</code>,
		<code>libpq.so</code> or whatever native library you need, without having to compile a static
		version of it so your rustup-toolchain is happy.
	</p>
	
	<h2>Setup Instructions</h2>
	
	<p>
		To add this repository, execute the following commands:
	</p>
	
	<p>
		<b>WARNING:</b> The setup instructions are subject to change. Your setup may break at any time
		it the future. Nothing about this is stable yet.
	</p>
	
	<div class="shell">
		<b>$</b> sudo wget -O "/etc/apk/keys/{{ pubkey }}" \ <br/>
		&nbsp;&nbsp;&nbsp;&nbsp;"https://raw.githubusercontent.com/msrd0/alpine-rust/gh-pages/{{ pubkey }}" <br/>
		<b>$</b> echo "https://media.githubusercontent.com/media/msrd0/alpine-rust/gh-pages/{{ alpine }}/alpine-rust" \ <br/>
		&nbsp;&nbsp;&nbsp;&nbsp;| sudo tee -a /etc/apk/repositories <br/>
		<b>$</b> sudo apk update
	</div>
	
</div>
</body>	
</html>
